<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-apimongofao">
  <template>
    <style>
      :host{
        /*display: inline-block;*/
/* Utilizo display flex para que el botón se coloque a la derecha*/
        display: inline-block;
        background-color: #85C1E9;
        }
    </style>
<!--incluyo los dos span bajo un div para que formen un solo bloque
en el display, y así el botón se coloque en otro bloque
investigo algunas etiquetas de formato de texto-->
    <div>
        <span><h1> - Llamada api mongodb traer post - </h1></span>
        <span><i><u>[[presentacion]]</u></i></span>
    </div>
<!-- defino el botón para recuperar post de mongodb y sus atributos,
para practicar añado una imagen  -->
    <div>
      <button type="button" name="botonrecuperapost" on-click="recuperapost">
        Recuperar Posts
          <br>
          de la base de datos de mongodb
          <hr>
          <img src="https://cdn2.iconfinder.com/data/icons/plex-for-android/96/flow_free.png" width="261" height="35" alt="">
      </button>
    </div>
<!-- declaro un array con los mismos campos que la base de datos de mongodb
donde se almacenarán los adtos recuperados de mongodb-->
    <template is="dom-repeat" items="[[posts]]">
      <div>
        Usuario: {{item.usuario}}
        Fecha_pub: {{item.fecha_pub}}
        Categoria: {{item.categoria}}
        Tema: {{item.tema}}
        Título: {{item.titulo}}
        Texto: {{item.texto}}
        Votospositivos: {{item.votospositivos}}
        Votosnegativos: {{item.votosnegativos}}
      </div>
    </template>
  </template>
<!-- a continuación declaro las propiedades para obtener los post  -->
  <script>
    Polymer({
      is: 'my-apimongofao',
      properties: {
        presentacion: String,
        url: {
          type: String,
          value: "https://api.mlab.com/api/1/databases/falvarobootcamp/collections/posts?apiKey=iglltAnWMlO2K2LQhxfpsnc3xgLYkytz"
         },
        posts: Array,
      },
      listeners: {
      },
      recuperapost: function() {
        var peticion = new XMLHttpRequest();
        peticion.open("GET", this.url, false);
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.send();
        var response = JSON.parse(peticion.responseText);
        this.posts = response;
        sessionStorage["posts"] = peticion.responseText;
        console.log("ROD: " + response);
        }
      })
  </script>
</dom-module>
