<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-fernando-micomponente">
  <template>
    <style>
      :host{
        display: inline-block;
        background-color: cyan;
      }
    </style>
    <div><span>Mi primer componente Polymer</span></div>
    <div><span>[[saludo]]</span></div>
    <div><span>[[contador]]</span></div>
      <template is="dom-repeat" items="[[listado]]">
        <div>
          <h2>{{item.titulo}}</h2>
          <h3>{{item.texto}}</h3>
        </div>
      </template>
  </template>
  <script>
    Polymer({
      is: 'my-fernando-micomponente',
      properties: {
        saludo: String,
        contador: Number,
        listado: Array
      },
      listeners: {
        'tap': 'incrementar'
      },
      incrementar: function() {
        this.contador = this.contador + 1;
        this.listado.push(this.contador);
      }
    })
  </script>
</dom-module>
